node_modules/
*.log
*.bak
dump.js
gacha_dump.sql
agent.mjs
agent.bat
aider.bat
start-tunnel.bat
start-tunnel.ps1
stdout.log
stderr.log
tunnel-stdout.log
tunnel-stderr.log
gacha.db
gacha.db-shm
gacha.db-wal
gacha.db-bak
gacha.db-shm.bak
gacha.db-wal.bak
gacha.db.bak
启动服务.bat
停止服务.bat
nginx.conf
